<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
    <input @change="uploadImage" type="file" name="image" value="" accept="video/*" style="display: none;" ref="fileInput">
    <button class="btn" @click="preUpload()">Select a video </button>

  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import axios from 'axios';

export default {
  name: 'app',
  components: {
    HelloWorld
  },
  methods: {
    uploadImage(event) {
      // cloudinary infos
      
      // uploaded file
      let file = event.target.files[0]
      if(!file) {
        return
      }
      let reader = new FileReader()

      reader.readAsDataURL(file)
      let _this = this
      let formData = new FormData()
      formData.append('file', file)
      axios
        .post('http://localhost:6007/api/Video/UploadVideo', formData, )
        .then((response) => {
          if(response.statusText == 'OK') {
            //this.imageSrc = response.data.secure_url
            _this.success = true
          } else {
            //_this.imageSrc = 'http://nahmdong.com/vitalhill/img/default.png'
            _this.success = false
          }
          //this.$emit('urlUploaded', this.imageSrc)
          return this.imageSrc
        })
        // .then(path => {
        //   axios.
        //   post(SERVER_URL, {path, })
        // })
        .catch((error) => {
          console.log(error) // catch your error
        })
    },
    preUpload() {
      this.$refs.fileInput.click()
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
